.done-true {
    text-decoration: line-through;
    color: grey;
}

.crd-selectable {
	border-style:double;
	border-width:5px;
	padding:5px;
	background-color:yellow;
	float: right;
}

.crd-selected {
	border-style:double;
	border-width:5px;
	padding:5px;
	background-color:red;
	float: right;
}

.crd-unselectable {
	border-style:double;
	border-width:5px;
	padding:5px;
	background-color:grey;
	float: right;
}

.crd-nonplayer {
	border-style:double;
	border-width:5px;
	padding:5px;
	background-color:orange;
	float: right;
}

.trn-timer-end-near {
	color:red;
	font-weight:bold;
}

.trn-timer-end-far {
}

.character-text {
	float: left;
	width: 200px;
}

.character-each{
	clear: left;
}

.character-stats {
	float: left;
	width: 100px;
	vertical-align: middle;
	text-align: center;
}

.character-cards {
	float: right;
}

.player-board {
	width: 100%;
	padding:5px;
	float: left;
}

.player-hand {
	padding:5px;
	float: left;
}