.done-true {
    text-decoration: line-through;
    color: grey;
}

.crd-selectable {
	border-style:double;
	border-width:5px;
	padding:5px;
	background-color:yellow;
	float: left;
}

.crd-selected {
	border-style:double;
	border-width:5px;
	padding:5px;
	background-color:red;
	float: left;
}

.crd-unselectable {
	border-style:double;
	border-width:5px;
	padding:5px;
	background-color:grey;
	float: left;
}

.crd-nonplayer {
	border-style:double;
	border-width:5px;
	padding:5px;
	background-color:orange;
	float: left;
}

.trn-timer-end-near {
	color:red;
	font-weight:bold;
}

.trn-timer-end-far {
}

.player-text {
	float: left;
	clear: right;
}

.player-each{
	clear: left;
}

.player-name {
	float: left;
	width: 100px;
	vertical-align: middle;
	text-align: center;
}