<html ng-app>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
		<script src="page.js"></script>
		<link rel="stylesheet" href="page.css">
	</head>
	<body>	
		<div ng-controller="turnTimerController">Turn time remaining: {{turnTimeRemaining}}</div>
		<div ng-controller="playersController">
			<table>
				<tr ng-repeat="player in players">
					<td>
						{{player.name}}
					</td>
					<td ng-repeat="card in player.cards">
						<div class="crd-{{card.state()}}" ng-click="select(player, card)">{{card}}</div>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
